
[submodule "frescoUtil"]
	path = frescoUtil
	keyword = https://github.com/luxiao0314/frescoUtil.git
[submodule "widget"]
	path = widget
	keyword = https://github.com/luxiao0314/widget.git
[submodule "framework"]
	path = framework
	keyword = https://github.com/luxiao0314/framework.git
[submodule "react_native"]
	path = react_native
	url = https://github.com/luxiao0314/react_native.git
